# macOS metadata files
._*
.DS_Store

# Xcode
xcuserdata/
*.xcworkspace
DerivedData/
.build/

# Swift Package Manager
.swiftpm/
*.xcodeproj/

# Build artifacts
*.app
*.ipa
*.dSYM.zip
*.dSYM

# Provisioning
*.mobileprovision
*.cer
*.p12
*.certSigningRequest
