# macOS metadata files
._*
.DS_Store

# Xcode
xcuserdata/
*.xcworkspace
DerivedData/
.build/
build/
XCBuildData/
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.swiftpm/

# Build artifacts
*.app
*.ipa
*.dSYM.zip
*.dSYM
*.pcm
*.o
*.d

# Provisioning
*.mobileprovision
*.cer
*.p12
*.certSigningRequest

# Xcode build cache
ModuleCache.noindex/
SDKStatCaches.noindex/
